.cardWrapper {
       position: relative;
}

.icon {
       width: 200px;
       height: 200px;
}

.name {
       margin: 0;
       max-width: 100px;
       position: absolute;
       left: 5px;
       bottom: 40px;
       color: rgb(255, 153, 0);
       font-size: 18px;
       font-weight: 800;
       
}

.description {
       margin: 0;
       max-width: 100px;
       position: absolute;
       left: 5px;
       bottom:-45px;
       color: rgb(255, 153, 0);
       font-size: 14px;
       font-weight: 600;
       -webkit-line-clamp: 5;
       display: -webkit-box;
       -webkit-box-orient: vertical;
       overflow: hidden;
}

.price {
       margin: 0;
       width: 100px;
       position: absolute;
       left: 5px;
       top: 80px;
       color: rgb(255, 153, 0);
       font-size: 18px;
       font-weight: 600;
}