
.headerWrapper {
       display: flex;
       /* justify-content: space-between; */
}

.searchAuthAndBasketBlock {
       display: flex;
       align-self: flex-end;
       margin-bottom: 10px;
       gap: 15px;
}
.searchButton {
       width: 250px;
}

.basket {
       align-self: center;
       text-decoration: none;
       font-weight: 600;

}
.bas {
       margin: 0;
}

.devider {
       margin-bottom: 0;
}

.searchInput {
       width: 800px;
}